{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/productDetails.css') }}"> {% endblock %} {% block main %} {% from 'navbar.html' import navbar %} {{ navbar('shop.productsDetails') }} {% include 'flash.html' %}

<div class="text-center banner-container text-white" style="background-image: url('https://pbs.twimg.com/media/F8VsWNZaQAE4fPR?format=jpg&name=large'); background-size: 100% auto;width:100%; height:200px">
<div class="text-center banner-container text-white" style="background-image: url('https://pbs.twimg.com/media/F8VsWNZaQAE4fPR?format=jpg&name=large'); background-size: 100% auto;width:100%; height:200px">
    <h1 class="display-4 fw-bolder">Product Details</h1>
</div>

<main class="container2">

    <!-- Left Column /  Image -->
    <div class="left-column" style="text-align: center;">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 80%; height: 50vh;">
            <!-- Indicators -->
            <div class="carousel-indicators">
                {% for image_url in images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" {% if loop.first %}class="active" aria-current="true"{% endif %} data-bs-slide-to="{{ loop.index -1 }}" aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}
            </div>

            <!-- Slides -->
            <div class="carousel-inner">
                {% for image_url in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ image_url.link }}" class="d-block w-100" alt="Image {{ loop.index }}" style="width: 100%; height: 50vh;object-fit: cover;" >
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" ariahidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>


    <!-- Right Column -->
    <div class="right-column ">
        <div class="product-price my-4">
            {% if g.user %}
            <form action="/productDetails/{{ name }}" method="post">
                <button class="btn btn-primary"><i class="fa fa-plus"></i> | Add to Wishlist</button>
                <input type="hidden" name="wish" value="true"> </form>
            {% endif %}
        </div>
        <!-- Product Description -->
        <div class="product-description">
            <span>{{ product.category }}</span>
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
        </div>

        <!-- Product Pricing -->
        <div class="product-price w-100">
            <span>{{product.price}}€</span>
            <form action="/productDetails/{{ name }}" method="post">
                <input type="hidden" name="cart" value="true"> 
                <div class="form-group row">
                    <div class="col-6 me-2">
                        <input type="submit" value="Add to cart" class="border-0 mt-3 me-4 cart-btn">
                    </div>
                    <div class="col-4">
                        <label for="qty">Quantity:</label>
                        <input type="number" id="qty" name="qty" min="1" max="10" value="1" class="form-control p-2">
                    </div>
                </div>

            </form>
        </div>
        {% if product.qty>0 %}
        <!-- Product Availability -->
        <div class="product-price my-3 ">
            <span style="font-size: medium; font-style: italic;">Product in stock - <i class="fa-solid fa-check" style="color: #26a269;"></i> ({{product.qty}} units left!)</span>
        </div>
        {% else %}
        <div class="product-price my-3 " style="font-size: small;">
            <span style="font-style: italic;">Product sold Out  - <i class="fa-solid fa-x" style="color: #a22e26;"></i></span>
        </div>
        {% endif %} {% if g.user['Username']=="admin_user" %}
        <form action="/productDetails/{{ name }}" method="post">
            <span style="font-style: italic;"> Admin Mode: Manage Inventory  </span>
            <div class="product-inventory my-3" style="font-size: small;display: inline-flex;">
                <input hidden name="type" value="admin">
                <input name="qty" placeholder="Quantity">
                <button name="option" value="plus" type="submit" class="icon-button" style="background-color: transparent; border-color: transparent;"><i class="fa-solid fa-plus" style="color: rgb(0, 160, 0);"></i> Add</button>
                <button name="option" value="minus" type="submit" class=" icon-button" style="background-color: transparent; border-color: transparent;"><i class="fa-solid fa-minus " style="color: #a22e26; "></i> Remove</button>
            </div>
        </form>
        {% endif %}
    </div>

</main>

<div class="container mt-5 ">
    <button type="button " class="btn btn-danger " data-bs-toggle="modal " data-bs-target="#reviewModal ">
        <i class="fa-solid fa-ranking-star "></i> | Write a Review 
        </button>
</div>

<div class="modal " tabindex="-1 " id="reviewModal ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-body ">
                <form action="{{name}}/review " method="POST ">
                    <div class="mb-3 ">

                        <label for="score " class="form-label ">Select Score:  <span id="scoreValue " class="text-warning ">3</span><i class="fa-solid fa-star text-warning "></i></label>
                        <input type="range " class="form-range " id="score " min="1 " max="5 " step="1 " value="3 " name="score ">
                    </div>
                    <div class="mb-3 ">
                        <label for="userReview " class="form-label ">Your Review:</label>
                        <textarea class="form-control " id="userReview " name="userReview " rows="5 " required></textarea>
                    </div>
                    <button type="submit " class="btn btn-primary ">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5 ">
    <h1>Reviews:</h1>
    <h2> Average score:<span class="text-warning ">{{ avg }}<i class="fa-solid fa-star "></i></span></h2>
    {% if reviews %} {% for review in reviews %}
    <hr>
    <div class="container mt-2 mb-2 ">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">{{ review.Author }} <span class="text-warning ">{{ review.Score }} <i class="fa-solid fa-star "></i></span> </h5>
                <p class="card-text ">
                    {{ review.ReviewBody }}
                </p>
            </div>
        </div>
    </div> {% endfor %} {% else %}
    <p>No reviews available.</p>
    {% endif %}

</div>

<script>
    const scoreInput = document.getElementById('score');
    const scoreValue = document.getElementById('scoreValue');

    scoreInput.addEventListener('input', function () {
        scoreValue.textContent = scoreInput.value;
    });
</script>

{% include 'footer.html' %} {% endblock %}