{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/productDetails.css') }}"> {% endblock %} {% block main %} {% from 'navbar.html' import navbar %} {{ navbar('shop.productsDetails') }} {% include 'flash.html' %}

<header class="bg-dark py-1 mb-5">
    <div class="container2 px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">DETI Merch Store</h1>
            <p class="lead fw-normal text-white mb-0 ">Where perfection becomes <i><b class="text-warning">empirical</b></i></p>
        </div>
    </div>
</header>

<main class="container2">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img data-image="black" class="" src="{{ image }}" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>{{ category }}</span>
            <h1>{{ name }}</h1>
            <p>{{ description }}</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            {% if color %}
            <!-- Product Color -->
            <div class="product-color">
                <span>Color</span>

                <div class="color-choose">
                    <div>
                        <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                        <label for="red"><span></span></label>
                    </div>
                    <div>
                        <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                        <label for="blue"><span></span></label>
                    </div>
                    <div>
                        <input data-image="black" type="radio" id="black" name="color" value="black">
                        <label for="black"><span></span></label>
                    </div>
                </div>
            </div>
            {% endif %} {% if size %}
            <!-- Size Configuration -->
            <div class="size-config">
                <span>Choose Size</span>

                <div class="size-choose">
                    <button>XL</button>
                    <button>L</button>
                    <button>M</button>
                    <button>S</button>
                </div>

                <a href="#">How to choose your size</a>
            </div>
            {% endif %}
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>{{price}}€</span>
            <form action="/productDetails/product?name={{ name }}" method="post">
                <button href="/home" class="border-0 cart-btn">Add to cart</button>
            </form>
        </div>
    </div>

</main>

{% include 'footer.html' %} {% endblock %}