{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/productDetails.css') }}"> {% endblock %} {% block main %} {% from 'navbar.html' import navbar %} {{ navbar('shop.productsDetails') }} {% include 'flash.html' %}

<div class="text-center banner-container text-white" style="background-image: url('https://scontent.fopo5-2.fna.fbcdn.net/v/t39.30808-6/379721963_802278048565222_2757736403566309538_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5CEWwQSguU4AX-8R1i0&_nc_oc=AQkln2smmXYLABR9MHfYYD12UQQlmq9ddisNqeOkuvv80nK9MR5pUOBZ0UcM7-LmaOxRsdCX0w_9VR1zcj4v8NWf&_nc_ht=scontent.fopo5-2.fna&oh=00_AfA8pkSmwVDTEA3Os5n2XTCKlhlU00CyLqPgYuGCZZKbKQ&oe=6541B2E0'); background-size: 100% auto;width:100%; height:200px">
    <h1 class="display-4 fw-bolder">Product Details</h1>
</div>

<main class="container2">

    <!-- Left Column /  Image -->
    <div class="left-column" style="text-align: center;">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 400px; height: 300px; object-fit: cover;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                {% for image in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ image.link }}" alt="Image slide" style="max-width: 100%; max-height: 100%;">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>


    <!-- Right Column -->
    <div class="right-column ">
        <div class="product-price my-4">
            {% if g.user %}
            <form action="/productDetails/{{ name }}" method="post">
                <button class="btn btn-primary"><i class="fa fa-plus"></i> | Add to Wishlist</button>
                <input type="hidden" name="wish" value="true"> </form>
            {% endif %}
        </div>
        <!-- Product Description -->
        <div class="product-description">
            <span>{{ product.category }}</span>
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>{{product.price}}€</span>
            <form action="/productDetails/{{ name }}" method="post">
                <input type="hidden" name="cart" value="true"> </form>
            <button href="/home" class="border-0 cart-btn">Add to cart</button>
            </form>
        </div>
        {% if product.qty>0 %}
        <!-- Product Availability -->
        <div class="product-price my-3 ">
            <span style="font-size: medium; font-style: italic;">Product in stock - <i class="fa-solid fa-check" style="color: #26a269;"></i> ({{product.qty}} units left!)</span>
        </div>
        {% else %}
        <div class="product-price my-3 " style="font-size: small;">
            <span style="font-style: italic;">Product sold Out  - <i class="fa-solid fa-x" style="color: #a22e26;"></i></span>
        </div>
        {% endif %}
    </div>

</main>

<div class="container mt-5">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reviewModal">
        <i class="fa-solid fa-ranking-star"></i> | Write a Review 
        </button>
</div>

<div class="modal" tabindex="-1" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="{{name}}/review" method="POST">
                    <div class="mb-3">
                        <label for="userReview" class="form-label">Your Review:</label>
                        <textarea class="form-control" id="userReview" name="userReview" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h1>Reviews:</h1>
    {% if reviews %} {% for review in reviews %}
    <hr>
    <div class="container mt-2 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ review.Author }}</h5>
                <p class="card-text">
                    {{ review.ReviewBody }}
                </p>
            </div>
        </div>
    </div> {% endfor %} {% else %}
    <p>No reviews available.</p>
    {% endif %}

</div>

<style>
    .banner-container {
        position: relative;
        background-image: url('your-image-url.jpg');
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    
    .banner-container::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the transparency for the background here */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .banner-container h1,
    .banner-container p {
        position: relative;
        z-index: 1;
        /* This ensures the text is not transparent */
    }
</style>
{% include 'footer.html' %} {% endblock %}