{% extends 'base.html' %} {% block main %} {% from 'navbar.html' import navbar %} {{ navbar('shop.products') }} {% include 'flash.html' %}

<div class="text-center banner-container text-white" style="background-image: url('https://scontent.fopo5-2.fna.fbcdn.net/v/t39.30808-6/379721963_802278048565222_2757736403566309538_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5CEWwQSguU4AX-8R1i0&_nc_oc=AQkln2smmXYLABR9MHfYYD12UQQlmq9ddisNqeOkuvv80nK9MR5pUOBZ0UcM7-LmaOxRsdCX0w_9VR1zcj4v8NWf&_nc_ht=scontent.fopo5-2.fna&oh=00_AfA8pkSmwVDTEA3Os5n2XTCKlhlU00CyLqPgYuGCZZKbKQ&oe=6541B2E0'); background-size: 100% auto;width:100%; height:300px">
    <h1 class="display-4 fw-bolder ba">DETI Merch Store</h1>
    <p class="lead fw-normal text-white mb-0">- Where perfection becomes <i><b class="text-warning">empirical</b></i> -</p>
</div>


<div class="container px-4 px-lg-5 mt-2">
    <div class="row align-items-center">
        <div style="display: inline-block;">
            <h1>{{category}}</h1>
        </div>
        <div class="btn-group" style="display: inline-block;">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select Category
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item" href="/products?category={{category.name}}">{{category.name}}</a></li>
                {% endfor %}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/products">All</a></li>
            </ul>
        </div>
    </div>
    <div class="input-group mt-2 ">
        <form method="post" style="display: inline-flex;">
            {% if search != "" %} <input type="search" placeholder="Search for product" value="{{search}}" id="form1" class="form-control" name="input" /> {% else %} <input type="search" placeholder="Search for Product" id="form1" class="form-control"
                name="input" /> {% endif %}
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-2">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top " style="height: 220px; overflow: hidden; " src="{{ images[product.name].link }} " alt="... " />
                        <!-- Product details-->
                        <div class="card-body p-4 ">
                            <div class="text-center ">
                                <!-- Product name-->
                                <h5 class="fw-bolder ">{{product.name}}</h5>
                                <!-- Product price-->
                                {{product.price}}€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                            <div class="text-center "><a class="btn btn-outline-dark mt-auto " href="/productDetails/{{product.name}} ">View Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<style>
    .banner-container {
        position: relative;
        background-image: url('your-image-url.jpg');
        background-size: cover;
        width: 100%;
        height: 300px;
    }
    
    .banner-container::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the transparency for the background here */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .banner-container h1,
    .banner-container p {
        position: relative;
        z-index: 1;
        /* This ensures the text is not transparent */
    }
</style>
{% include 'footer.html' %} {% endblock %}