{% extends 'base.html' %} {% block main %} {% from 'navbar.html' import navbar %} {{ navbar('shop.products') }} {% include 'flash.html' %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">DETI Merch Store</h1>
            <p class="lead fw-normal text-white mb-0 ">- Where perfection becomes <i><b class="text-warning">empirical</b></i> -</p>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5 mt-2">
    <div class="row align-items-center">
        <div style="display: inline-block;">
            <h1>{{category}}</h1>
        </div>
        <div class="btn-group" style="display: inline-block;">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select Category
            </button>
            <ul class="dropdown-menu">
                {% for category in categories %}
                <li><a class="dropdown-item" href="/products?category={{category.name}}">{{category.name}}</a></li>
                {% endfor %}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/products">All</a></li>
            </ul>
        </div>
    </div>
    <div class="input-group mt-2 ">
        <form method="post" style="display: inline-flex;">
            {% if search != "" %} <input type="search" placeholder="Search for product" value="{{search}}" id="form1" class="form-control" name="input" /> {% else %} <input type="search" placeholder="Search for Product" id="form1" class="form-control"
                name="input" /> {% endif %}
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-search"></i>
              </button>
        </form>
    </div>
</div>


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-2">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpsNX3jTy1VCgCct34uCtgBCstvy3imtLY0bj9ZL28DMmkPXFvvJTcujJ5lAVaBhvq8Dw&usqp=CAU" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}}</h5>
                                <!-- Product price-->
                                {{product.price}}€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productDetails/{{product.name}}">View Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>

{% include 'footer.html' %} {% endblock %}