{% extends 'base.html' %}

{% block main %}

{% from 'navbar.html' import navbar %}
{{ navbar('shop.profile') }}
{% include 'flash.html' %}

<div class="container pt-4 pb-4">
    <div class="row pb-4">
        <div class="col-8">
            <div class="card text-bg-dark ">
                <div class="card-header">
                    <h2 class="card-title fs-2">User Information</h2>
                </div>
                <div class="card-body">
                    <div class="ps-4 fs-4">
                        <table class="">
                            <tr>
                                <td><strong>Username:</strong></td>
                                <td>{{ user.Username }}</td>
                            </tr>
                            <tr>
                                <td><strong>Name:</strong></td>
                                <td>{{ user.Name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number:</strong></td>
                                <td>{{ user.PhoneNumber }}</td>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>{{ user.Email }}</td>
                            </tr>
                            <tr>
                                <td><strong>Age:</strong></td>
                                <td>{{ user.Age }}</td>
                            </tr>
                            <tr>
                                <td><strong>Role:</strong></td>
                                <td>{{ user.Role }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 btn-danger ">
            <div class="card text-bg-danger">
                <div class="card-header">
                    <h2 class="card-title fs-2">Actions</h2>
                </div>
                <div class="card-body">
                    <div class="ps-2 pt-2">
                        <a href="{{ url_for('auth.change_password') }}" class="btn btn-success fs-3">Change Password</a>
                    </div>
                    <div class="ps-2 pt-2 mt-2">
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-dark fs-3">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ps-2 pe-2 pb-4">
        <div class="card  text-bg-warning">
            <div class="card-body">
                <h1 class="fw-bold"><a href="{{ url_for('shop.wishlist') }}">Wishlist</a></h1>
            </div>
        </div>
    </div>
    <div class="row  ps-2 pe-2">
        <div class="card  text-bg-success">
            <div class="card-header">
                <h2 class="card-title fs-2">Orders:</h2>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    {% for order, prods in order_prods.items() %}
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                          {{ order.Date }}
                        </button>
                      </h2>
                      <div id="collapse{{ loop.index }}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <table class="table">
                                <th>
                                    <td>Product</td>
                                    <td>Price</td>
                                    <td>Qty</td>
                                    <td>Total</td>
                                </th>
                                {% for prod in prods %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ prod.Name }}</td>
                                    <td>{{ prod.Price }}</td>
                                    <td>{{ prod.Qty }}</td>
                                    <td>{{ prod.Qty*prod.Price }}$</td>

                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                      </div>
                    </div>
                    {% endfor %}   
                </div>                
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}