{% extends 'base.html' %}

{% block main %}

{% from 'navbar.html' import navbar %}
{{ navbar('shop.index') }}

<div class="text-center banner-container text-white"
    style="background-image: url('https://scontent.fopo5-2.fna.fbcdn.net/v/t39.30808-6/379721963_802278048565222_2757736403566309538_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5CEWwQSguU4AX-8R1i0&_nc_oc=AQkln2smmXYLABR9MHfYYD12UQQlmq9ddisNqeOkuvv80nK9MR5pUOBZ0UcM7-LmaOxRsdCX0w_9VR1zcj4v8NWf&_nc_ht=scontent.fopo5-2.fna&oh=00_AfA8pkSmwVDTEA3Os5n2XTCKlhlU00CyLqPgYuGCZZKbKQ&oe=6541B2E0'); background-size: 100% auto;width:100%; height:300px">
    <h1 class="display-4 fw-bolder ba">DETI Merch Store</h1>
    <p class="lead fw-normal text-white mb-0">- Where perfection becomes <i><b class="text-warning">empirical</b></i> -
    </p>
</div>

<div class="container pt-4">

    <h1>Sobre:</h1>
    <p class="fs-4">Trabalho desenvolvido no âmbito da disciplina de SIO 2023/24 - Universidade pelos os alunos Diogo Marto NºMec 108298 e Tiado Pereira NºMec 108546</p>

</div>

<style>
    .banner-container {
        position: relative;
        background-image: url('your-image-url.jpg');
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .banner-container::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust the transparency for the background here */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .banner-container h1,
    .banner-container p {
        position: relative;
        z-index: 1;
        /* This ensures the text is not transparent */
    }
</style>

{% include 'footer.html' %}

{% endblock %}